a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

button {
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

input {
    background-color: rgb(191 219 254);
    border-radius: 4px;
}
